#darken {
	animation: darkenIn 0.5s ease-in-out forwards;
}

#darkenOut {
	animation: darkenOut 0.5s ease-in-out forwards;
}

#darken,
#darkenOut {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1
}

.dialog,
.dialogOut {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
  background-color: rgba(46, 46, 46, 0.8);
	backdrop-filter: blur(15px);
	border-radius: 15px;
	opacity: 1;
	color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
	padding: 20px;
  padding-bottom: 0;
}

.dialog h2,
.dialogOut h2 {
  margin: 0;
}

.dialog {
	animation-name: popIn;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

.dialogOut {
	animation-name: popOut;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

@keyframes darkenIn {
	from {
		background-color: rgba(0, 0, 0, 0);
		backdrop-filter: blur(0px);
	}
	to {
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(15px);
	}
}

@keyframes darkenOut {
	from {
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(15px);
	}
	to {
		background-color: rgba(0, 0, 0, 0);
		backdrop-filter: blur(0px);
	}
}

@keyframes popIn {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes popOut {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
