html, body {
	height: 100%;
}

body {
	background-color: #0e0e0e;
	color: white;
	font-family: "Roboto Round";
	margin: 0;
}

#editor {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #0E0E0E;
}

*::-webkit-scrollbar-track:hover {
  background-color: #0E0E0E;
}

*::-webkit-scrollbar-track:active {
  background-color: #0E0E0E;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #CECDCE;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #CECDCE;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #CECDCE;
}

input {
	background-color: #1d1d1d;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	font-size: 1.2rem;
	outline: none;
	caret-color: white;
	color: white;
	padding-left: 10px;
}

.blocklyFlyoutBackground {
	fill: #2e2e2e;
	fill-opacity: 1;
}

.blocklyMainBackground {
	fill: #1d1d1d !important;
}

.blocklyToolboxDiv,
.scratchCategoryMenuRow {
	background-color: #3f3f3f;
}

.scratchCategoryMenuItem.categorySelected,
.blocklyContextMenu {
	background-color: #1d1d1d !important;
}

.scratchCategoryMenuItemLabel,
.goog-menuitem-content {
	color: white;
}

.blocklyMainBackground {
	stroke: none;
}

.goog-menuitem-disabled.goog-menuitem-content {
	color: #464646;
}

.goog-menuitem-highlight {
	background-color: #3f3f3f !important;
	border-style: solid !important;
	border-color: #3f3f3f !important;
}

.blocklyFlyoutLabelText {
	fill: white;
}

.valueReportBox {
	color: black;
}

h1 {
	font-weight: normal;
	font-size: 140%;
}

#blocklyDiv {
	height: 65vh;
	width: 100%;
}

.blocklyToolboxDiv::-webkit-scrollbar-thumb {
	background-color: transparent !important;
}

.blocklyToolboxDiv::-webkit-scrollbar-track {
	background-color: transparent !important;
}

#newBlockWorkspace {
	height: 30vh;
	width: 100vh;
}

.levelpath-button {
  position: absolute;
}

#startWindow {
	position: absolute;
	background-color: rgba(29, 29, 29, 0.8);
	backdrop-filter: blur(15px);
	z-index: 9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 5px;
	font-size: 1.4rem;
}

.leaderboard-player {
	display: flex;
	gap: 5px;
	align-items: center;
	border-radius: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.leaderboard-place {
	font-size: 1.9rem;
	margin: 0;
	margin-right: 14px;
	margin-left: 11px;
}

.leaderboard-place-last {
	margin-right: 4px;
	margin-left: 4px;
}

.leaderboard-name {
	font-weight: normal;
	font-size: 1.4rem;
	margin: 0;
}

.leaderboard-xp {
	font-weight: normal;
	font-size: 1.3rem;
	margin: 0;
	margin-left: auto;
}

#startWindow h1,
#startWindow p {
	margin: 0;
}

.injectionDiv {
	border-radius: 10px;
}

#console {
	overflow-y: scroll;
	height: 10vh;
}

button {
	background-color:#1d1d1d;
	border-style: solid;
	border-radius: 5px;
	border-color: #1d1d1d;
	border-bottom: 7px solid #3f3f3f;
	outline: none;
	color: white;
}

.btn-green {
	background-color: #50F550;
	border-color: #50F550;
	border-bottom-color: #40C340;
	color: black;
}

.btn-gray {
	background-color: #acacac;
	border-color: #acacac;
	border-bottom-color: #818181;
	color: black;
}

.btn-red {
	background-color: #F55050;
	border-color: #F55050;
	border-bottom-color: #C34040;
	color: black;
}

#tabswitcher {
	display: flex;
	gap: 10px;
	margin-bottom: 5px;
}

#tabswitcher > div {
	display: flex;
	gap: 10px;
}

.tab {
	font-size: 1.5rem;
	background-color: #1d1d1d;
	padding: 10px;
	border-radius: 10px;
	transition: background-color 300ms;
}

.tab:hover {
	background-color: #3f3f3f;
}

.tab.selected {
	background-color: #2e2e2e;
}

.blocklySvg,
.scratchCategoryMenu {
	background: none !important;
}

.blocklyZoom image {
	fill: #1d1d1d;
}

button:active{
  border-bottom-width:4px;
  position:relative;
  top:4px;
}

#console_input {
	height: 4vh;
	width: calc(100% - 20px);
}

button {
	margin-bottom: 10px;
	margin-top: 10px;
}

#collaborators {
	float: right;
	width: 30px;
	margin-left: 10px;
}

#collaborators > img {
	margin-right: 5px;
	height: 30px;
	padding-bottom: 5px;
	width: 30px;
	border-radius: 3px;
}

#importExport {
	font-family: monospace;
}

.notification {
	position: fixed;
	top: 50px;
	right: 0;
	background-color: rgba(29, 29, 29, 0.8);
  /* background-color: rgba(46, 46, 46, 0.8); */
	backdrop-filter: blur(20px);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
	display: flex;
	gap: 20px;
	align-items: center;
	animation: slideIn 1s forwards;
}

.notificationOut {
	animation: slideOut 1s forwards;
}

@keyframes slideIn {
	0% {
		right: -500px;
	}
	100% {
		right: 0;
	}
}

@keyframes slideOut {
	0% {
		right: 0;
	}
	100% {
		right: -500px;
	}
}

select {
	background-color: #1d1d1d;
	color: white;
	font-size: 1.7rem;
	border-radius: 10px;
}

#rooms {
	display: flex;
}

#rooms button {
	padding: 50px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #1d1d1d;
	border: none;
	border-radius: 0;
	font-size: 1.8rem;
	border-right: 2px solid #3f3f3f;
	transition: background-color 300ms;
}

#rooms button:first-of-type {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#rooms button:last-of-type {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right: none;
}

#rooms button:hover {
	background-color: #3f3f3f;
}

#rooms button:active {
	top: 0;
}

#rooms button.selected {
	background-color: #2e2e2e;
}

#start h2 {
	animation: comeInAndAway 3s forwards;
	animation-delay: 1s;
	opacity: 0;
}

.goAway {
	animation: goAway 1s forwards;
	opacity: 1;
}

.comeIn {
	animation: comeIn 1s forwards;
	opacity: 0;
}

@keyframes comeIn {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 1s forwards;
	opacity: 0;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes goAway {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(50px);
		opacity: 0;
	}
}

@keyframes comeInAndAway {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}
	30% {
		transform: translateY(0);
		opacity: 1;
	}
	60% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		transform: translateY(50px);
		opacity: 0;
	}
}

input:not(.blocklyHtmlInput) {
	background-color: rgba(29, 29, 29, 0.8);
}

.blocklyHtmlInput {
	color: white;
}

#next:disabled {
	filter: grayscale(100%);
}

.slideInFromRight {
	animation: slideInFromRight forwards 1s ease-in-out;
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.slideInFromLeft {
	animation: slideInFromLeft forwards 1s ease-in-out;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

.slideInFromTop {
	animation: slideInFromTop forwards 500ms ease-in-out;
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

.slideInFromBottom {
	animation: slideInFromBottom forwards 500ms ease-in-out;
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

#debug-buttons button {
	font-size: 1.4rem;
	background-color: #2e2e2e;
	padding: 5px;
	margin: 5px;
}

.section {
	background-color: #1d1d1d;
	border: #2e2e2e 2px solid;
	border-radius: 15px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	padding: 10px;
	width: 100%;
	position: relative;
	height: 200px;
}

.section h1 {
	margin: 0;
	font-size: 2rem;
}

.section p {
	margin: 0;
	font-size: 1.5rem;
}

.section img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.section button {
	margin-top: auto;
	width: 100px;
}

#section-name {
	color: #acacac;
	margin: 10px;
}

#section-back {
	font-size: 1.4rem;
	padding: 5px;
	margin-left: 10px;
}

#console-container {
	display: grid;
	gap: 5px;
	grid-template-columns: 70% 30%;
}

#version {
	text-decoration: underline;
}
